#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        heart_macro: behavior_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <
                &kp LT
                &kp 3
            >;
        };
    };
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
                &heart_macro    &kp C_PREVIOUS    &kp C_PLAY_PAUSE    &kp C_NEXT    &kp LG(DOT)    &kp C_MUTE    &studio_unlock
            >;
        };
        
        extra1 {
            status = "reserved";
        };

        extra2 {
            status = "reserved";
        };

        sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
    };
 };
